<div class="send-email">

    <div class="send-email--form">
        <h1>Welcome to SalonEverywhere Pre-Appointment COVID</h1>
        <h3>Please your client’s email address or mobile phone:</h3>
        <form action="/emails/send_email" method="post">
        <input type="text" id="email" name="email" class="form__input" placeholder="Client email" required/>
        <label for="email" class="form__label">Client email</label>
        <button class="btn-inline">submit <span>&rarr;</span></button>
        </form>
    </div>

</div>